{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="flex justify-center min-h-screen items-center">
		<div class="p-10 bg-white rounded-xl drop-shadow-lg space-y-5">
			<form class="" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<div class="flex flex-col space-y-2">
					<label for="inputEmail">Mail</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input w-96" autocomplete="email" required autofocus>
				</div>
				<div class="flex flex-col space-y-2">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="input w-96" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="text-center">
					<button class="button mt-3" type="submit">
						Se connecter
					</button>
				</div>
			</form>
			<p>Vous n'avez pas de compte ?<br/><a href="{{ path('app_register')}}" class="underline text-blue-400">Inscrivez vous</a>
			</p>
		</div>
	</div>
{% endblock %}
